* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu {
  margin: auto 24px;
}

.logo {
  width: 90px;
  height: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
}

.left_div,
.middle_div,
.right_div {
  display: flex;
  align-items: center;
}

.middle_div {
  display: flex;
  align-items: center;
  max-width: 470px;
  flex: 1;
  margin-left: 60px;
}

.search_box {
  height: 40px;
  padding-left: 12px;
  flex: 1;
  width: 0;
  min-width: 0;
  font-size: 16px;
  border: 1px solid #cccc;
  box-shadow: inset 0px 1px 2px #eeee;
}

.search_box:focus {
  outline: 1px solid #0d6efd;
  z-index: 1;
  outline-offset: -1px;
}

.search_btn {
  height: 40px;
  width: 64px;
  margin-right: 8px;
  border: 1px solid #cccc;
  background-color: #f8f8f8;
  border-left: none;
  cursor: pointer;
}

.voice_btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}

.search_btn:hover,
.voice_btn:hover {
  background-color: #eeee;
}

.right_div {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  width: 182px;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.left_sec {
  width: 72px;
  position: fixed;
  top: 56px;
  display: block;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  background-color: #ffff;
}

.sidebar_text {
  font-size: 10px;
  margin-top: 5px;
}

.sidebar_box {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right_sec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 16px;
  padding: 20px;
  margin-top: 57px;
  margin-left: 72px;
  background-color: #f9f9f9;
  border-top: 1px solid rgb(221, 215, 215);
}

.video_box {
  display: block;
}

.thumbnail {
  width: 100%;
}

.thumbnail_box {
  position: relative;
}

.video_len {
  position: absolute;
  right: 4px;
  bottom: 7px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 500;
}

.video_info_box {
  display: flex;
  justify-content: space-between;
}

.video_info {
  display: block;
  align-items: center;
}

.channel_img_box {
  margin-right: 10px;
}

.video_title {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.video_title a {
  text-decoration: none;
  color: #000;
}

.channel_name,
.views {
  font-size: 12px;
  color: #606060;
  margin-top: 8px;
}

.channel_img {
  width: 36px;
  border-radius: 36px;
  margin-top: 12px;
}
